.btnContact{
    background: #F4F0FE;
   color:#1D04A3;
   border: none;
   border-radius: 15px;
   width:100px; 
    height: 20x;
}



.Email{
    width: 5%; 
    height: auto;

}

.Movil{
    width: 6%; 
    height: auto;

}
.imgGithub{
    width: 6%; 
    height: auto;

}
.imgLinkedin{
    width: 6%; 
    height: auto;

}