
h1 ,h4, h3, h5, p{
    color:#626C6E;
    

}

.btn-pink {
    background-color:#F4F0FE;
    color:#626C6E;
    
    align-items: flex-end;
}


  
  #wrapper{
    display: flex;
    height: 100px;
    background-color: #E9FFFC;
  }
 
  .textHome{

    display: flex;
    justify-content: space-between;
  }